[user]
	name = Adam Lukens
	email = adam@testdouble.com

[push]
default = matching

[diff]
	tool = vimdiff
	compactionHeuristic = true

[difftool]
prompt = false

[alias]
aa = add --all
d = diff
dt = difftool
dc = diff --cached
c = commit
co = checkout
st = status -sb
s = status
lv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
lf = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
root = rev-parse --show-toplevel
pushf = push --force-with-lease

[mergetool]
	keepBackup = true
[core]
	excludesfile = ~/.gitignore
	pager = less -FRXK
[rerere]
	enabled = true
[commit]
	verbose = true
[github]
	user = McPolemic
[credential]
	helper = osxkeychain
[rebase]
	autoSquash = true
