[user]
	name = Adam Lukens
	email = adam@testdouble.com

[hub]
protocol = https
	host = git.purduefed.com

[push]
default = matching

[diff]
	tool = vimdiff
	compactionHeuristic = true

[difftool]
prompt = false

[alias]
aa = add --all
d = diff
dt = difftool
dc = diff --cached
c = commit
co = checkout
st = status -sb
s = status
lv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
lf = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat

[mergetool]
	keepBackup = true
[core]
	excludesfile = /Users/adam/.gitignore
	pager = less -FRXK
