[user]
	name = August Lukens
	email = august@lukens.co

[push]
	default = current
	autoSetupRemote = true

[diff]
	tool = vimdiff
	compactionHeuristic = true

# https://stackoverflow.com/questions/49514426/how-can-i-git-diff-changes-to-rails-5-2-credentials
[diff "encrypted"]
	textconv = rails encrypted:show
	cachetextconf = false

[difftool]
prompt = false

[alias]
	aa = add --all
	d = diff
	dw = diff --word-diff
	dt = difftool
	dc = diff --cached
	c = commit
	co = checkout
	st = status -sb
	s = status
	lv = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
	lf = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
	root = rev-parse --show-toplevel
	pushf = push --force-with-lease
	conflicts = diff --name-only --diff-filter=U
	modified = !git status --porcelain | awk '{print $2}'

[mergetool]
	keepBackup = true
	prompt = false
[core]
	excludesfile = ~/.gitignore
	pager = less -FRXK
	attributesfile = /Users/adam/.gitattributes
[rerere]
	enabled = true
[commit]
	verbose = true
[github]
	user = McPolemic
[rebase]
	autosquash = true
	autoStash = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[includeIf "gitdir:~/src/boldpenguin/"]
	path = ~/src/boldpenguin/.gitconfig_include
[includeIf "gitdir:~/src/crowdstreet/"]
	path = ~/src/crowdstreet/.gitconfig_include
[log]
	date = iso
[diff "json"]
	textconv = jq --sort-keys .
[merge]
	conflictstyle = diff3
	tool = vimdiff
[credential "https://github.com"]
	helper = !gh auth git-credential
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[branch]
	sort = -committerdate
